.loader {
  width: 60px;
  height: 60px;
  border: 5px solid #c1a362;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 

.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: rgb(193, 163, 98);
    border: 2px solid #c1a362;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: rgb(193, 163, 98);
    -webkit-transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #fffefe;
    scale:1.1;
    -webkit-box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
            box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
  }
  
  .button:active{
  scale:1;
  }
  
  .slide-in-right {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  @-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  .button-categoria {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
  }
  
  .button-categoria {
    --primary-color: #000;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .button-categoria p {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
  }
  
  .button-categoria::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .button-categoria p::before {
    position: absolute;
  /*   box-sizing: border-box; */
    content: "";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .button-categoria:hover::after {
    width: 100%;
  }
  
  .button-categoria:hover p::before {
    width: 100%;
  }
  
  .button-categoria:hover svg {
    transform: translateY(4px) rotate(90deg);
    color: var(--hovered-color)
  }
  
  .button-categoria svg {
    color: var(--primary-color);
    transition: 0.2s;
    transform: rotate(90deg);
    position: relative;
    width: 15px;
    transition-delay: 0.2s;
  }